.idea/*
.DS_Store
profile.cov
conode/conode
conode/co[0-9]*/
conode/public.toml
conode/log
conode/tmp
status/status
scmgr/scmgr
cisc/cisc
cosi/simulation/build/
cosi/simulation/test_data/
external/java/bin
external/java/.project
*~
.tags*
**/build/
.vscode
*.db
*.cfg

# cloned
/Coding

bypros/postgres
bypros/storage/sqlstore/postgres

**/deploy/
**/test_data/save/v0/**
**/test_data/*csv
**/microbenchmarks/microbenchmarks
**/test_data/old/*

**/protocol/protocol
**/byzgen/byzgen
**/lottery/lottery
**/burst/burst
**/run.sh

**/save/old/
**/save/backup/
**/backup/
**/save/partials/

*.csv
